<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>更新</title>
  <link href="../css/login.css" rel="stylesheet">
</head>
<body>
<th:block th:insert="common/header"></th:block>
  <hr>
  <div class="insert">
    <div class="form-body">
      <p class="error">[[${errorupdate}]]</p>

      <form action="" method="post" th:object="${updatemng}">
        <fieldset class="label-130">
          <div>
            <label>商品ID</label>
            <input type="text" name="productId"  class="base-text" th:field="*{productId}">
            <span class="error" th:each="error : ${#fields.errors('productId')}">[[ ${error} ]]</span>
          </div>
          <div>
            <label>商品名</label>
            <input type="text" name="productName" class="base-text" th:field="*{productName}">
            <span class="error"  th:each="error : ${#fields.errors('productName')}">[[ ${error} ]]</span>
          </div>
          <div>
            <label>単価</label>
            <input type="text" name="productPrice"  class="base-text" th:field="*{productPrice}">
            <span class="error" th:each="error : ${#fields.errors('productPrice')}">[[ ${error} ]]</span>
          </div>
          <div>
            <label>カテゴリ</label> <select name="categoryId" class="base-text" th:field="*{categoryId}">
            <option value="1">筆記具</option>
            <option value="2">オフィス機器</option>
            <option value="3">事務消耗品</option>
            <option value="4">紙製品</option>
            <option value="5">雑貨</option>
            <span class="error" th:each="error : ${#fields.errors('categoryId')}">[[ ${error} ]]</span>
            </select>
          </div>
<!--          th:value="${category.get(__${product.categoryId}__ -1).name}"-->
          <div>
            <label>商品説明</label>
            <textarea name="description" class="base-text"  th:field="*{description}">[[ ${error} ]]
            </textarea>
          </div>
          <div>
            <label>画像</label>
            <input type="file" name="file">
            <span class="error" th:each="error : ${#fields.errors('description')}">[[ ${error} ]]</span>
          </div>
        </fieldset>
          <div class="btns">
            <button type="button" onclick="openModal()" class="basic-btn">更新</button>
            <input type="button" onclick="location.href='/menu'" value="メニューに戻る" class="cancel-btn">
          </div>
          <div id="modal">
            <p class="modal-message">更新しますか？</p>
            <div class="btns">
              <button type="submit" id="update-btn" class="basic-btn">更新</button>
              <button type="button" onclick="closeModal()" class="cancel-btn">キャンセル</button>
            </div>
          </div>
      </form>
    </div>
  </div>
  <div id="fadeLayer"></div>
  <script src="/js/commons.js"></script>
  <script>
    'use strict'
    document.getElementById('update-btn').addEventListener('click', () => {
      location.href = './menu.html'
    })
  </script>
</body>
</html>